body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 700px;
}

pre {
  background-color: #111;
  color: #f5f5f5;
  padding: 1.2em;
  border-radius: 0.5em;
}

.examples .card:first-child {
  margin-top: 0;
}

.examples .card {
  margin-top: 2em;
  width: 100%;
}

.github {
  margin-top: 3em;
}

.github img {
  margin-right: 10px;
}

span.red {
  color: red;
}

span.blue {
  color: deepskyblue;
}

span.green {
  color: limegreen;
}

.btn {
  margin-right: 10px;
}

.btn img {
  margin-right: 10px;
}

.clear {
  clear: both;
}

img.icon {
  height: 25px;
  width: 25px;
}

.header {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (min-width: 992px) {
  .hed  {
    float: left;
  }

  .hed-image  {
    float: right;
  }

  .intro {
    clear: both;
  }
}

@media (max-width: 992px) {
  .hed {
    text-align: center;
  }

  .hed-image  {
    text-align: center;
  }

  .intro {
    text-align: center;
  }

  .actions {
    text-align: center;
  }
}
